<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/contineo_interview/src/main/java/com/contineo/inventory/ContineoInventoryApplication.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_CLASSPATH_ONLY_JAR" value="false"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.contineo.inventory.ContineoInventoryApplication"/>
<stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="contineo_interview"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="contineo_interview"/>
</launchConfiguration>
